@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "poppins";
  background-color: rgb(238, 238, 238);
}

.form-container{
   width: 800px;
   height: 500px;
}

.login-form{
  width: 400px;
}

.form-wallpaper{
  width: 400px;
  background-image: url(./images/wallpaper.jpg);
  background-position: left center;
  background-size: cover;
}
